.Projects-Content{
    margin: 2px;
    padding: 2px;
    min-height: 90vh;
    width: 95%;
}

.Projects-Content h1{
    margin: 5px;
    text-align: center;
    color: yellow;
    font-size: xx-large;
}

.Credentials{
    margin: 15px;
    padding: 5px;
    font-size: large;
    font-weight: 400;
    text-align: center;
}

.Credentials > h4{
    margin: 20px;
    font-size: larger;
    font-weight: 600;
}

.Credentials >p:hover{
    font-size: larger;
}

.Project-Data{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}

.Projects-Source{
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    height: 350px;
    width: 280px;
    background: white;
    border-radius: 15px;
    transition: all 0.5s;
}

.Projects-Source:hover{
    transform: translateY(-30px);
    background: black;
    color: white;
    cursor: pointer;
}

.Projects-Source >p{
    padding: 2px;
    font-size: 25px;
    background: linear-gradient(to right,rgb(219, 10, 132),rgb(10, 177, 219));
    background-clip: text;
    color: transparent;
}

.Projects-Source >img{
    height: 150px;
    width: 200px;
    border-radius: 15px;
}

.Projects-Source >a{
    display: block;
    margin: 6px;
    border: 3px inset black;
    border-radius: 18px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.Projects-Source > a:nth-child(3){
    background: linear-gradient(to right,rgb(95, 150, 95),rgb(114, 47, 191));
}

.Projects-Source > a:nth-child(3):hover{
    background: linear-gradient(to right,rgb(118, 16, 214),rgb(219, 10, 132));
    color: white;
}

.Projects-Source > a:nth-child(4){
    background: linear-gradient(to right,rgb(212, 59, 59),rgb(114, 42, 165));
}

.Projects-Source > a:nth-child(4):hover{
    background: linear-gradient(to right,rgb(220, 12, 161),rgb(146, 219, 10));
    color: white;
}    

.Projects-Source > a:nth-child(5){
    background: linear-gradient(to right,rgb(223, 131, 25),rgb(151, 44, 151));
}

.Projects-Source > a:nth-child(5):hover{
    background: linear-gradient(to right,rgb(151, 166, 13),rgb(10, 177, 219));
    color: white;
}



@media only screen and (max-width: 720px) {
    .Project-Data{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0.15rem;
    }
    .Projects-Source{
        height: 400px;
        width: 95%;
    }
    .Projects-Source:hover{
        transform: translateX(20px);
    }
    .Projects-Source >img{
        height: 200px;
        width: 80%;
    }
}