@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Poppins&family=Roboto+Slab&family=Water+Brush&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: "Poppins",sans-serif;
    background-color: rgb(56, 54, 78);
    color: white;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}